/* 宮内専用 */

.edit {
    text-align: center;
    margin-top: 100px;
}

.upclass , .downclass{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.shainn , .simei , .kinnmu , .jikoku {
    display: flex;
    flex-direction: column;
}

.title_name1 , .title_name2 , .title_name3 , .title_name4 , .title_name5 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 20px;
}

.title_name1 {
    position: relative;
    right: 110px;
}

.title_name2 {
    position: relative;
    right: 120px;
}

.title_name3 {
    position: relative;
    right: 70px;
}

.title_name4 {
    position: relative;
    right: 115px;
}

.title_name5 {
    position: relative;
    right: 310px;
}

.sub_label {
    font-size: 20px;
}

.shainn {
    margin-right: 30px;
}

.shainn input , .simei input {
    width: 300px;
    height: 50px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    padding-left: 40px;
}

.select_kinnmu {
    margin-right: 50px;
}

.select_kinnmu select , .jikoku select {
    height: 50px;
    font-size: 20px;
}

.select_kinnmu select {
    width: 100px;
    padding-left: 10px;
    margin-right: 30px;
    position: relative;
    right: 30px;
}

.jikoku select {
    width: 70px;
    padding-left: 10px;
}

.hour_minites {
    display: flex;
}

.sub_label {
    margin: 0 15px;
    padding-top: 7px;
}

.comment_box {
    width:700px;
    height: 50px;
    border:1px solid rgb(126, 124, 124);
    border-radius: 5px;
    padding-left: 10px;
}

.comment_box:focus {
    outline: none;
}

.save_button {
    background-color: #04dff3;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    padding: 10px 100px;
    margin-top: 35px;
    height: 60px;
}

.save_button:hover {
    background-color: rgba(0, 238, 255, 0.76);
}

.save_button:focus {
    outline: none;
}