/* 長尾専用 */


.main{
    position: relative;
}
.area_item{ position: absolute; top: 0; left: 0;}
.area{position: relative; display: flex;justify-content: flex-start; align-items: center;}
.area h1{width: 100%; flex-grow: 1; text-align: center;}


.mene{
    color: blue;
    line-height: 55px;
}
 .mene th{font-size: 12px;}
 .mene_top{
 font-size: 10px;
 }
.chart{

}
th{

}
.table{
    display: flex;
    justify-content: space-around;
    letter-spacing: 15px;
}
table{
    /* margin-left: auto; */
    /* margin-right: auto; */
}