/* 長尾専用 */

html , body {
    height: 100%;
}

.main{
    position: relative;
}
.area_item{ position: absolute; top: 0; left: 0;}
.area{position: relative; display: flex;justify-content: flex-start; align-items: center;}
.area h1{width: 100%; flex-grow: 1; text-align: center;}


.mene{
    color: #409fd9;
    line-height: 55px;
}
.mene th{font-size: 15px;}
.mene_top{
font-size: 14px;
line-height: 22px;
}
.chart{

}
th{

}
.table{
    display: flex;
    justify-content: space-around;
    /* width: 50%; */
    /* letter-spacing: 15px; */
}
table{
    /* margin-left: auto; */
    /* margin-right: auto; */
    width: 100%;
}